<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.carbonsushi.x2chgearchmateproxy">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.2chGearChMateProxy"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProxyActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />

                <data android:host="*.5ch.net" />
                <data android:host="*.bbspink.com" />
                <data android:host="jbbs.shitaraba.net" />
                <data android:host="machi.to" />
                <data android:host="*.machi.to" />
                <data android:host="*.2ch.sc" />

                <data android:pathPrefix="/test/read.cgi/" />
                <data android:pathPrefix="/bbs/read.cgi/" />
            </intent-filter>
        </activity>
    </application>
</manifest>